body{
  font-family: 'Dancing Script', cursive;
  background-image: url("../images/background11.gif");
  text-align: center;
}

h1{
  color:#FF968C;
  font-size: 50pt;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

p{
  font-size:20pt;
}
p:hover{
  color:#FFE343;
}
