body{
  font-family: 'Dancing Script', cursive;
  background-image: url("../images/background9.gif");
  text-align: center;
  background-color: pink;
}

h1{
font-size: 50pt;
color:hotpink;
}

img{
  display:block;
  margin:auto;
  text-align: center;
}

.protfolio-item{
  margin-top: 60px;
  padding:40px;
}

h3{
font-size: 18pt;
}

p{
font-size: 15pt;
margin-left: 300px;
margin-right:300px;
}
