body{
  font-family: 'Dancing Script', cursive;
  background-image: url("../images/background4.gif");
  text-align: center;
}

h1{
font-size: 50pt;
color:hotpink;
}

img{
  display:block;
  margin:auto;
  text-align: center;
}

.protfolio-item{
  margin-top: 60px;
  padding:40px;
}

h3{
font-size: 20pt;
}

p{
font-size: 20pt;
}
