body{
  font-family: 'Dancing Script', cursive;
  background-image: url("../images/background5.gif");
  text-align: center;
}

p{
font-size: 20px;
color:blue;

}

h1{
  color:#FF968C;
  font-size: 20pt;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

.ppp{
  margin-left: 20px;
  margin-right: 20px;
}
