@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Tomorrow&display=swap');

body{
  background-color: #ADEDDC;
  font-family: 'Dancing Script', cursive;
  background-image: url("../images/background.gif");
  text-align: center;
}

h1{
  color:#FF968C;
  font-size: 50pt;
  font-family: 'Dancing Script', cursive;
  text-align: center;
}

p:hover{
  color:#EB976C;
}

nav a {
  margin: 50px;
  padding: 6px;
}

a{
  font-size: 20pt;
  color:#FFB100;
  background-color:#D0EDAD;
  font-family: 'Tomorrow', sans-serif;
}
/* mouse over link */
a:hover{
  color:hotpink;
  background-color: blue;
}
